In [1]:
import pandas as pd

1. total sales for each day of the week

In [176]:
dailyDf = pd.read_csv("daily_sales.csv")
monthlyDf = pd.read_csv("monthly_sales.csv")

In [71]:
dailyDf.index = dailyDf['Unnamed: 0']
dailyDf = dailyDf.drop("Unnamed: 0", axis=1)
dailyDf = dailyDf.rename_axis('Week')

In [164]:
dailyDf

,Day,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
Week,,,,,,,,,,,,,,,,
Friday,1/1/2016,37240,16077,8446,39249,16565,10204,37271,16819,9924,35967,13955,11734,35689,13499,11232
Saturday,1/2/2016,36258,14726,7950,38106,14003,7316,35021,14705,9028,36398,15089,8005,37178,14256,9152
Sunday,1/3/2016,37007,15103,8397,35494,15987,8683,35369,16591,8105,34864,13919,7011,35855,15557,8406
Monday,1/4/2016,37590,16413,9537,33666,15114,8429,37993,14535,8034,36601,14528,8201,36168,15699,7940
Tuesday,1/5/2016,38036,16199,10123,33528,13721,10085,37854,14590,9879,36661,15132,8874,36837,15420,8607
Wednesday,1/6/2016,38187,16386,8410,33608,14322,9652,36343,16302,9360,34374,14696,9674,37790,13810,10228
Thursday,1/7/2016,38095,16045,11791,33007,15068,8985,35901,15408,8834,35895,14981,8370,36061,13436,8993
Friday,1/8/2016,34685,15058,8179,38964,13608,10985,36279,14465,10639,35441,13411,11630,34898,15544,12463
Saturday,1/9/2016,35059,14585,7193,33637,14035,7616,38059,13804,8589,36194,15525,6890,37192,13619,6799
Sunday,1/10/2016,36906,16905,10580,39361,14788,7105,35332,15809,7702,33847,15282,7520,35334,14447,7583
Monday,1/11/2016,36893,16771,10091,35750,16565,9506,37802,15222,8566,34769,15528,9312,37905,14909,9037
Tuesday,1/12/2016,37243,15642,9247,35040,16132,8424,36105,16518,8555,35134,14510,7735,35045,14419,8418
Wednesday,1/13/2016,37476,15343,10250,35242,14846,9316,38015,16162,9872,37190,15693,8416,34532,15537,9279
Thursday,1/14/2016,37977,16256,12264,36682,14869,8832,36866,15822,8617,34698,13358,8826,36526,14421,7804
Friday,1/15/2016,36130,16352,7127,38272,15946,10360,35068,16561,10503,35856,15537,11533,37012,13057,11764
Saturday,1/16/2016,35147,15408,7174,36955,15204,8140,34234,15179,8543,36609,15241,8346,36274,15202,9431
Sunday,1/17/2016,38330,16272,9313,36046,16032,7152,35821,14858,7177,33645,15273,7647,36386,15493,7112
Monday,1/18/2016,35629,15691,8441,37242,16313,9602,36945,14479,9107,34210,13589,8793,36938,14565,9250
Tuesday,1/19/2016,38094,15224,9101,35703,16032,8425,33663,13625,8765,34634,15295,8436,36811,13162,7773
Wednesday,1/20/2016,34610,17072,8739,38221,14952,9944,35313,14239,9474,34044,13408,8426,35951,15017,8276
Thursday,1/21/2016,35293,16677,11108,38971,14999,9787,34489,16771,9876,34814,15293,8637,37177,13464,9376
Friday,1/22/2016,35862,16553,6865,37796,16330,11615,37919,14578,10598,34969,15744,11709,37222,15335,12847
Saturday,1/23/2016,38019,14905,7271,35544,14326,9015,33703,15514,8058,36681,13458,8189,35494,15609,8713
Sunday,1/24/2016,38460,15743,9887,36372,15520,7722,33234,14814,7680,35579,14646,7167,36777,13787,6881
Monday,1/25/2016,37295,16769,9068,33006,16468,9428,36311,17134,8892,35061,13521,8545,37700,14362,9227
Tuesday,1/26/2016,35164,17046,9835,38405,13150,8632,37012,17253,7952,32933,15373,8565,37465,13658,9194
Wednesday,1/27/2016,36414,16974,10656,38709,16688,9102,35904,15021,8609,37051,15461,8954,36245,13868,8185
Thursday,1/28/2016,35179,16900,12027,35194,12996,9959,34396,17001,9768,35124,14684,9376,35524,15171,10200
Friday,1/29/2016,38474,14468,7554,34861,16469,10941,34071,14691,10364,35301,14829,12241,35109,14045,12377
Saturday,1/30/2016,37323,15347,7413,35504,13307,7877,35644,16680,8465,34985,14366,7727,36614,15210,7632
Sunday,1/31/2016,36880,15892,11201,36430,14213,8302,33681,16929,8369,35505,14939,7269,34767,15380,7440

In [152]:
dailyDfFiltered = dailyDf.drop("Day",axis=1).groupby("Week").mean()
dailyDfFiltered = dailyDfFiltered.reindex(['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'])

In [228]:
str(list(dailyDfFiltered.mean(axis=1)))

'[19771.626666666667, 20210.916666666668, 20001.55, 20263.966666666667, 20248.65, 20705.8, 19622.22666666667]'

In [163]:
str(list(dailyDfFiltered[region_NE].sum(axis=1)))

'[63375.2, 62547.0, 62738.5, 62629.25, 64903.0, 59813.99999999999, 58755.59999999999]'

In [145]:
list(dailyDfFiltered[region_SW].index)

['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

In [223]:
dailyDfFiltered_group = dailyDfFiltered.groupby("Week").mean()
dailyDfFiltered_group = dailyDfFiltered_group.reindex(['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'])
str(list(dailyDfFiltered_group.sum(axis=1)))

'[296574.4, 303163.75, 300023.25, 303959.5, 303729.75, 310587.0, 294333.4]'

In [ ]:
df_month_group_pie= monthlyDf.drop("Month",axis=1).groupby("Month_short").mean()
df_month_group_pie = df_month_group_pie.reindex(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
str(list(df_month_group_pie.sum(axis=1)))

In [210]:
monthlyDf

,Month,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,Month_short
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619,Jan
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586,Feb
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523,Mar
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533,Apr
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695,May
5,Jun-16,1235025,535597,321358,1213908,505795,303477,1239785,496319,297791,1217717,487485,292491,1149673,479030,299149,Jun
6,Jul-16,1284426,535177,321106,1269486,508209,317371,1202069,500862,312783,1186438,494349,296609,1220954,508730,305238,Jul
7,Aug-16,1323348,551395,330837,1358134,565889,326218,1283993,534997,320998,1319163,528096,316857,1252825,543317,325990,Aug
8,Sep-16,1284426,535177,334213,1268860,528691,330162,1295077,518454,311072,1279199,532999,319799,1255322,502539,313830,Sep
9,Oct-16,1280303,555233,333140,1315120,526477,328780,1301675,521095,312657,1233342,534868,320920,1213425,526230,315738,Oct
10,Nov-16,1319100,572058,343235,1348519,561883,337129,1276693,553667,332200,1257908,545521,327313,1288024,515630,322006,Nov
11,Dec-16,1280303,533459,320075,1306490,523023,313813,1287225,515310,309186,1266216,527590,316554,1199842,499934,299960,Dec
12,Jan-17,1381012,575421,345253,1356550,565229,339137,1341018,558757,348938,1316604,570976,329151,1290590,537745,335816,Jan
13,Feb-17,1480936,617056,355715,1451591,604829,362897,1428344,571804,357086,1405780,562771,337662,1386331,554985,346582,Feb
14,Mar-17,1381012,598908,359344,1358087,588966,353379,1393347,557794,348336,1378270,574279,331055,1307257,566922,340153,Mar
15,Apr-17,1429463,572252,357365,1411049,564881,352762,1329007,576355,332251,1358906,544006,339726,1335282,556367,333820,Apr
16,May-17,1472779,589593,353755,1395077,581282,363004,1367489,593043,341872,1347357,561398,350587,1381392,553008,345348,May
17,Jun-17,1487808,619920,357365,1471677,589151,353491,1442457,601024,346472,1420841,568801,341280,1344775,583193,349916,Jun
18,Jul-17,1419956,615797,354989,1391670,603530,362118,1367838,593195,341959,1343314,582559,349535,1318052,549188,342962,Jul
19,Aug-17,1522698,634457,380674,1560316,650131,374781,1536702,640292,384175,1447084,627562,376537,1431076,620620,372372,Aug
20,Sep-17,1538236,615797,369478,1462819,634386,365704,1433985,597493,373128,1467806,611586,352561,1450080,604200,348303,Sep
21,Oct-17,1466507,611044,366626,1448688,603620,376954,1478973,592072,355243,1401670,607867,350417,1374453,572688,357638,Oct
22,Nov-17,1572618,655257,393154,1542173,617373,385543,1519708,633211,365028,1439282,599701,374507,1475555,590704,368888,Nov
23,Dec-17,1588665,661944,397166,1570750,628813,392687,1492847,647408,388445,1537545,615520,384386,1517969,632487,379492,Dec
24,Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758,Jan
25,Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944,Feb
26,Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698,Mar
27,Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213,Apr
28,May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381,May
29,Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726,Jun
30,Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865,Jul
31,Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962,Aug
32,Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019,Sep
33,Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113,Oct
34,Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978,Nov
35,Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130,Dec
36,Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696,Jan
37,Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463,Feb
38,Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966,Mar
39,Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020,Apr
40,May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401,May
41,Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858,Jun
42,Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534,Jul
43,Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279,Aug
44,Sep-19,1458379,607658,379476,1431260,620699,372419,1472377,589432,353659,1397616,606109,363665,1383228,599869,345807,Sep

In [218]:
df_month_group_pie= monthlyDf.drop("Month",axis=1).groupby("Month_short").mean()
df_month_group_pie = df_month_group_pie.reindex(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
str(list(df_month_group_pie.sum(axis=1)))

'[11537605.5, 11783336.5, 11503497.5, 11653009.0, 12023085.75, 11647872.75, 11671713.5, 12234701.5, 12016076.0, 11319165.999999998, 11911040.999999998, 11624733.0]'

In [230]:
monthlyDf.groupby("Month_short").mean().sum(axis=1)

Month_short
Apr    11653009.00
Aug    12234701.50
Dec    11624733.00
Feb    11783336.50
Jan    11537605.50
Jul    11671713.50
Jun    11647872.75
Mar    11503497.50
May    12023085.75
Nov    11911041.00
Oct    11319166.00
Sep    12016076.00
dtype: float64

In [177]:
monthlyDf.index = monthlyDf['Month, Year']
monthlyDf = monthlyDf.drop("Month, Year", axis=1)
monthlyDf = monthlyDf.rename_axis('Month')

In [178]:
monthlyDf = monthlyDf.reset_index()
monthlyDf['Month_short'] = [i.split('-')[0] for i in monthlyDf.reset_index()['Month']]

In [234]:
df_month_group= monthlyDf.drop("Month",axis=1).groupby("Month_short").mean()
df_month_group = df_month_group.reindex(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
str(list(df_month_group[region_SE].mean(axis=1)))
# str(list(df_month_group.index))
str(list(df_month_group.index))

"['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']"

In [40]:
monthlyDf.sum(axis=0)

Month, Year    Jan-16Feb-16Mar-16Apr-16May-16Jun-16Jul-16Aug-...
HM-NE                                                   65362334
CF-NE                                                   27233220
FF-NE                                                   16345942
HM-SW                                                   64421707
CF-SW                                                   26815953
FF-SW                                                   16104137
HM-NW                                                   63572000
CF-NW                                                   26341429
FF-NW                                                   15821178
HM-SE                                                   62328614
CF-SE                                                   26039450
FF-SE                                                   15614539
HM-C                                                    61582375
CF-C                                                    25724566
FF-C                                                    15540968
dtype: object

In [80]:
# Index of monthly sales
list(monthlyDf.index)

['Jan-16',
 'Feb-16',
 'Mar-16',
 'Apr-16',
 'May-16',
 'Jun-16',
 'Jul-16',
 'Aug-16',
 'Sep-16',
 'Oct-16',
 'Nov-16',
 'Dec-16',
 'Jan-17',
 'Feb-17',
 'Mar-17',
 'Apr-17',
 'May-17',
 'Jun-17',
 'Jul-17',
 'Aug-17',
 'Sep-17',
 'Oct-17',
 'Nov-17',
 'Dec-17',
 'Jan-18',
 'Feb-18',
 'Mar-18',
 'Apr-18',
 'May-18',
 'Jun-18',
 'Jul-18',
 'Aug-18',
 'Sep-18',
 'Oct-18',
 'Nov-18',
 'Dec-18',
 'Jan-19',
 'Feb-19',
 'Mar-19',
 'Apr-19',
 'May-19',
 'Jun-19',
 'Jul-19',
 'Aug-19',
 'Sep-19']

In [109]:
# pd.DataFrame(index=monthlyDf['Month, Year'], data= list(monthlyDf.sum(axis=1)),columns=['sum of sales'])

# Get all the relevant index from the dataframe
region_NE = monthlyDf.columns[monthlyDf.columns.str.contains("NE")]
region_SW = monthlyDf.columns[monthlyDf.columns.str.contains("SW")]
region_NW = monthlyDf.columns[monthlyDf.columns.str.contains("NW")]
region_SE = monthlyDf.columns[monthlyDf.columns.str.contains("SE")]
region_C = monthlyDf.columns[monthlyDf.columns.str.contains("-C")]
food_HM = monthlyDf.columns[monthlyDf.columns.str.contains("HM")]
food_CF = monthlyDf.columns[monthlyDf.columns.str.contains("CF")]
food_FF = monthlyDf.columns[monthlyDf.columns.str.contains("FF")]

In [114]:
str(list(monthlyDf[food_HM]['HM-C']))

'[1126476, 1109076, 1167894, 1116560, 1155612, 1149673, 1220954, 1252825, 1255322, 1213425, 1288024, 1199842, 1290590, 1386331, 1307257, 1335282, 1381392, 1344775, 1318052, 1431076, 1450080, 1374453, 1475555, 1517969, 1547730, 1517826, 1486792, 1532852, 1580994, 1474712, 1583461, 1543848, 1520076, 1364454, 1451913, 1360520, 1434785, 1416053, 1375864, 1448080, 1500448, 1407434, 1366136, 1416674, 1383228]'

In [128]:
str(list(monthlyDf[region_C].sum(axis=1)))

'[1859053, 1859777, 1935039, 1872326, 1937812, 1927852, 2034922, 2122132, 2071691, 2055393, 2125660, 1999736, 2164151, 2287898, 2214332, 2225469, 2279748, 2277884, 2210202, 2424068, 2402583, 2304779, 2435147, 2529948, 2564375, 2545197, 2453692, 2554753, 2678010, 2497981, 2639101, 2599335, 2559311, 2251794, 2419854, 2267533, 2391308, 2398621, 2316506, 2413466, 2486036, 2322725, 2254571, 2347234, 2328904]'